body{
    font-family: Arial, sans-serif;
    line-height: 1.4;
    background-color: #d9afe3;
    width: 500px;
    margin: auto;
}


form {

    background: rgba(248, 244, 244, 0.87);
    padding: 2.3rem 2.3rem;
    border-radius: 2rem
    width: 300px 
    margin: auto;git
    
    
}
 

